@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eee;
    padding: 20px;
}


#heading-h1 {
    color: gray;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}


.personal-info,
.Address,
.Academic-details {
    width: 90%;
    margin: 20px auto;
    background: white;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}

#personal-info-tag {
    font-size: 20px;
    color: gray;
    margin-bottom: 20px;
    display: block;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}


.personal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.input-box {
    width: 100%;
}


.input-field,
.select-box,
select {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;

}

#achievementInput-id {
    resize: vertical;
    min-height: 75px;
    max-height: 200px;
    padding-right: 100px;
}


.gender-box {
    grid-column: span 2;
    margin: 10px 0;
}

.input-gender {
    margin-right: 10px;
}


.next,
.next-page,
.submit-btn {
    background: rgb(243, 166, 243);
    border: none;
    color:purple;
    font-weight: bold;
    border-radius: 4px;
    padding: 12px 25px; 
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
    float: right;
}

.submit-btn {
    background: rgb(201, 114, 201);
}

.next:hover,
.next-page:hover,
.submit-btn:hover {

    background: rgb(3, 149, 3);
}

.personal-info::after,
.Address::after,
.Academic-details::after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 900px) {
    .portal-login {
        flex-direction: column;
        gap: 40px;
        width: 100%;
        margin-top: 100px;
    }
}