@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(60deg, rgb(229, 226, 249), rgb(254, 247, 255));
    padding: 20px;
}


#heading-h1 {
    color: gray;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}


.personal-info,
.Address,
.Academic-details {
    width: 90%;
    margin: 20px auto;
    background: rgb(253, 253, 255);
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgb(149, 179, 243);

}

#personal-info-tag {
    font-size: 20px;
    color: gray;
    margin-bottom: 20px;
    display: block;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}


.personal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

#personall-icon{
    margin:10px;
    padding:10px;
    background:rgb(208, 208, 248);
    color:blue;
    border:none;
    border-radius:50%;
}

#address-icon{
    padding:10px;
    margin:10px;
    background: rgb(250, 221, 168);
    color:orange;
    border-radius:50%;
    border:none;

}

#academic-icon{
    padding:10px;
    margin:10px;
    background: rgb(247, 168, 247);
    color:purple;
    border-radius:50%;
    border:none;

}

.input-box {
    width: 100%;
}


.input-field,
.select-box,
select {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;

}

#achievementInput-id {
    resize: vertical;
    min-height: 75px;
    max-height: 200px;
    padding-right: 100px;
}


.gender-box {
    grid-column: span 2;
    margin: 10px 0;
}

.input-gender {
    margin-right: 10px;
}


.next,
.next-page,
.submit-btn {
    background: rgb(185, 245, 185);
    border: none;
    color: green;
    font-weight: bold;
    border-radius: 4px;
    padding: 12px 25px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
    float: right;
}

.submit-btn {
    background: rgb(185, 245, 185);
}

.next:hover,
.next-page:hover,
.submit-btn:hover {

    background: rgb(123, 236, 123);
}

.personal-info::after,
.Address::after,
.Academic-details::after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 900px) {
    .portal-login {
        flex-direction: column;
        gap: 40px;
        width: 100%;
        margin-top: 100px;
    }
}