@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* align-items: center; */
    /* justify-content: center; */
    /* display: flex; */
    background:linear-gradient(60deg, rgb(229, 226, 249), rgb(254, 247, 255));
    margin: 0;
    min-height: 100vh;
}

#container {
    border: none;
    box-shadow: 0px 0px 7px rgb(243, 213, 252);
    border-radius: 15px;
    width: 80%;
    margin-left: 150px;
    min-height: 700px;
    background: white;
    padding-bottom: 30px;
}

h3 {
    color: black;
    text-align: center;
    position: relative;
    top: 20px;
    padding-bottom: 20px;
    border: 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(225, 220, 220);
    padding-bottom: 30px;
}

/* input[type="Date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}



.table-data {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
}

table {
    width: 90%;
    border-collapse: collapse;
}

table th {
    background: #4ada4f;
    color: white;
}

table th,
table td {
    text-align: center;
    padding: 10px;
    margin-top: 100px;
}

.absent {
    background: rgb(255, 33, 33);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
} */

@media (max-width: 900px) {
    .portal-login {
        flex-direction: column;
        gap: 40px;
        width: 100%;
        margin-top: 100px;
    }
}