body {
    font-family: 'Poppins', sans-serif;
    background:linear-gradient(60deg, rgb(229, 226, 249), rgb(254, 247, 255));
    color: #333;
    padding: 20px;
   
}
h1 {
    text-align: center;
}



.complaint-form {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 6px 10px rgb(255, 200, 255);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
}

input {
    width: 97%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: none;
}


select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: none;
}

#plane{
    margin:5px;
    color:white
}
button {
    margin-top: 20px;
    background:blue;
    color:white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: normal;
}

.back-btn {
    background:rgb(255, 213, 213);
    color: rgb(192, 0, 0);
    font-weight: normal;
    margin-bottom: 20px;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    width:80px;
    border:none;

}
input:hover{
border:1px solid blue;
}

textarea:hover{
    border:1px solid blue;
}
button:hover {
    opacity: 0.9;
}