@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('https://static.vecteezy.com/system/resources/previews/004/341/201/original/business-blue-background-theme-free-vector.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


h2 {
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 30px;
    letter-spacing: -1px;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.portal-login {
    background: rgba(196, 176, 176, 0) !important;
    backdrop-filter: blur(20px) saturate(180%) !important;
    -webkit-backdrop-filter: blur(20px) saturate(180%) !important;
    border: 1px solid rgba(240, 233, 233, 0.2) !important;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6) !important;
    width: 400px;
    height: 520px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    overflow: hidden;
}

.portal-login::before {
    content: "\f19c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    top: 45px;
    font-size: 3.5rem;
    color: #ffffff;
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.3));
}

.role-card {
    width: 85%;
    height: 75px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 25px;
    margin-bottom: 10px;
    gap: 25px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 10;
}

.role-card:hover {
    background: rgba(255, 255, 255, 0.2) !important;
    border-color: rgba(255, 255, 255, 0.5) !important;
    transform: translateY(-2px);
}

.role-card i {
    font-size: 26px;
    transition: 0.3s;
}

#admin i {
    color: #00d2ff;
    filter: drop-shadow(0 0 10px rgba(0, 210, 255, 0.9));
}

#student i {
    color: #00ff88;
    filter: drop-shadow(0 0 10px rgba(0, 255, 136, 0.9));
}

.role-card h3 {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
}

@media (max-width: 450px) {
    .portal-login {
        width: 92%;
    }
}