* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: #f4f6fb;
    padding: 20px;
}

.profile-container {
    max-width: 70%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    display: flex;
    gap: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.profile-left {
    flex: 3;
}

.profile-right {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.student-photo {
    width: 120px;
    height: 120px;
    margin-left: 700px;
    border: 2px solid black;
    margin-top: -60px;
    margin-bottom: -40px;

}

.action-buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    right: 90px;
    gap: 12px;


}

.print-btn {
    background: #3498db;
    color: white;
    padding: 10px 35px 10px 35px;
    border-radius: 4px;
    cursor: pointer;
    border: none;


}

.back-btn {
    background: #555;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    border: none;

}

.delete-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 35px 10px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

h3 {
    margin: 15px 0 10px 0;
    color: #333;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 16px;
}

.section,
p {
    margin: 8px 0;
    color: #555;
}

.section {
    color: #000;
    font-weight: bold;
}

@media print {

    .action-buttons,
    .back-btn {
        display: none;
    }
}