body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;

}

h1 {
    text-align: center;
    margin: 80px 0;
}

#complaintContainer {
    width: 90%;
    max-width: 800px;
    margin: auto;

}

.complaint-box {
    background: #fff;
    border: 1px solid #ccc;
    padding: 12px;
    margin-bottom: 12px;
}

.complaint-box p {
    margin: 6px 0;
}

.complaint-box small {
    color: gray;
}

.delete-btn {
    background: crimson;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-btn:hover {
    background: darkred;
}

.resolve-btn {
    background: #4ada4f;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.resolve-btn:hover {
    background: green;
}