@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    background: #e0edf2;
    margin: 0;
    min-height: 100vh;
}

.container {
    border: none;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
    width: 80%;
    min-height: 550px;
    position: relative;
    margin: 50px auto;
    background: white;
    padding-bottom: 30px;
}

#heading {
    color: black;
    text-align: center;
    position: relative;
    top: 20px;
}

.heading-div {
    border: 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(225, 220, 220);
    padding-bottom: 30px;
}

.date-div {
    position: relative;
    top: 30px;
    left: 35%;
}

.search-box {
    position: relative;
    top: 70px;
    left: 35%;
}

.search-feild {
    width: 250px;
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
    font-size: 16px;
}

.search-feild:hover {
    border: 2px solid blue;
}

.search-btn {
    height: 40px;
    width: 100px;
    border: none;
    background: #4ada4f;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: ease-in 0.1s;
    cursor: pointer;
}

.search-btn:hover {
    background: #35c03a;
}

.table-data {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
}

table {
    width: 90%;
    border-collapse: collapse;
}

table th {
    background: #4ada4f;
    color: white;
}

table th,
table td {
    text-align: center;
    padding: 10px;
}

.absent {
    background: rgb(255, 33, 33);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
}

.absent:hover {
    background: rgb(213, 31, 31);
}

.present {
    background: #4ada4f;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 5px;
    height: 30px;
    cursor: pointer;
}

.present:hover {
    background: #38a73c;
}




.attendance-cb {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: #4ada4f;
}


.shortage {
    color: #ff0000 !important;
    font-weight: 600;
    background-color: #fff0f0;
}

.percentage-text {
    font-weight: 600;
}


.save-container {
    margin-top: 130px;
    text-align: center;
}