@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: poppins;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background: #eee;

}

#container {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f6fb;
}

#innerbox {
    height: 300px;
    width: 500px;
    padding: 50px;
    border: none;
    border-radius: 15px;
    background: white;
    padding: 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);


}

h2 {
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    font-family: poppins;
    color: rgb(51, 50, 50);
}

p {
    font-size: medium;
    font-family: poppins;
    font-weight: 300;
    text-align: center;
}

input {
    padding: 10px 50px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.05);
    border-radius: 8px;
    transition: all 0, 3s ease;
    outline: none;
    left: 25px;

}

input::placeholder {
    color: black;
    font-weight: 450;
}

button {
    padding: 8px 15px;
    margin: 30px 0px 10px 130px;
    border: none;
    background: rgb(0, 89, 255);
    border-radius: 3px;
    color: white;
    position: relative;
    left: 80px;
    top: 35px;
    transition: ease-in-out 0.2s;
}

button:hover {
    background: rgb(53, 122, 249);
    box-shadow: 0px 0px 5px rgb(76, 76, 76);
}

a {
    text-decoration: none;
    color: blue;
    transition: ease-in-out 0.2s;
}

a:hover {
    color: red;
}

.label {
    font-weight: bold;
    font-size: larger;
}


.table-container {
    overflow-x: auto;
}