@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;

}

h2 {
    height: 80px;
    text-align: center;
    background: linear-gradient(45deg, rgb(238, 124, 143), rgba(223, 7, 223, 0.914));
    color: white;
    padding-top: 50px;
    border-radius: 10px;
}

h3 {
    margin-left: 90px;

}

.portal-login {
    height: 100px;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;
    margin-left: 300px;
    gap: 100px;
}

.role-card {
    height: 130px;
    width: 300px;
    border: 2px solid black;
    border-radius: 12px;

}

.role-card:hover {
    transform: translateY(-10px);
    transition: 0.3s;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.758);
    cursor: pointer;

}

.role-card i {
    color: black;
    font-size: 50px;
    margin-left: 140px;
    margin-top: 40px;

}