body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 242, 242);
    font-family: sans-serif;
}


.main-container {
    height: 600px;
    width: 1300px;
    margin-top: 20px;
    box-shadow: 0px 0px 5px gray;
    border-radius: 15px;
    background: white;
}


.header {
    background: red;
    height: 45px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.username {
    box-shadow: 0px 0px 5px gray;
    border-radius: 15px;
    height: 100px;
    width: 75%;
    position: relative;
    left: 150px;
    top: 15%;
    color: rgb(255, 85, 0);
    display: flex;
    align-items: center;
    padding-left: 20px;
}


#small-conatainer {
    height: 450px;
    width: 75%;
    position: relative;
    left: 150px;
    top: 25%;
    display: flex;
}


.box {
    background: linear-gradient(50deg, rgba(233, 126, 96, 0.868), rgb(236, 88, 224));
    border-radius: 15px;
    box-shadow: 0px 0px 5px gray;
    height: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#notice {
    margin-right: 3%;
}


#notice p {
    margin: 0;
    font-size: 18px;
}


#notice-title {
    font-size: 13px;
    margin-top: 8px;
    color: white;
    opacity: 0.9;
}


#std-profile {
    margin-left: 0.5%;
    margin-right: 0.5%;
}


#complaint-box {
    margin-left: 3%;
}


.footer {
    height: 25px;
    width: 100%;
    background: red;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    top: -10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}


.box:hover {
    transform: translateY(-10px);
    transition: 0.3s;
    cursor: pointer;
}