body {
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
    background-color: rgb(217, 242, 242);
    font-family: sans-serif;
}

.main-container {
    height: 600px;
    width: 1300px;
    margin-top: 20px;
    border: none;
    box-shadow: 0px 0px 5px gray;
    border-radius: 15px;
    background: white;
}

.header {
    border: 1px solid red;
    background: red;
    height: 45px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.username {
    border: none;
    box-shadow: 0px 0px 5px gray;
    border-radius: 15px;
    height: 100px;
    width: 75%;
    position: relative;
    left: 150px;
    top: 15%;
    color: rgb(255, 85, 0);


}

#small-conatainer {
    border: none;
    height: 450px;
    width: 75%;
    position: relative;
    left: 150px;
    top: 25%;
    display: flex;
}

#notice {
    border: none;
    background: linear-gradient(50deg, rgba(233, 126, 96, 0.868), rgb(236, 88, 224));
    border-radius: 15px;
    box-shadow: 0px 0px 5px gray;
    height: 40%;
    width: 40%;
    margin-right: 3%;

}

#std-profile {
    border: none;
    background: linear-gradient(50deg, rgba(233, 126, 96, 0.868), rgb(236, 88, 224));
    box-shadow: 0px 0px 5px gray;
    border-radius: 15px;
    height: 40%;
    width: 40%;
    margin-left: 0.5%;
    margin-right: 0.5%;

}

#complaint-box {
    border: none;
    background: linear-gradient(50deg, rgba(233, 126, 96, 0.868), rgb(236, 88, 224));
    box-shadow: 0px 0px 5px gray;
    border-radius: 15px;
    height: 40%;
    width: 40%;
    margin-left: 3%;


}

.footer {
    border: none;
    height: 25px;
    width: 100%;
    background: red;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    top: -100px;
    color: white;

}

p {
    text-align: center;
    margin-top: 75px;
    font-family: sans-serif;
    font-size: larger;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
}

.box:hover {
    transform: translateY(-10px);
    transition: 0.3s;
    cursor: pointer;

}