@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f4f6fb;
    margin: 0;
}

h2 {
    padding: 0px 0px 15px 0px;
    margin: 0;
}

#container {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#innerbox {
    width: 500px;
    padding: 40px;
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input {
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-bottom: 20px;
    padding: 12px 15px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    transition: all 0.3s ease;
    outline: none;
}

.input:hover,
.input:focus {
    border: 2px solid blue;
    box-shadow: 0px 0px 8px rgba(0, 0, 2, 0.549);
}

input::placeholder {
    color: #888;
    font-weight: 500;
}

label {
    margin-bottom: 20px;
    font-size: 14px;
    align-self: flex-start;
    cursor: pointer;
}


#submit {
    color: white;
    font-weight: bold;
    background: blue;
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease, transform 0.1s ease;
}

#submit:hover {
    background: rgb(67, 67, 251);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

#submit:active {
    transform: scale(0.98);
}

.anchor {
    margin-top: 15px;
    font-size: 14px;
    text-decoration: none;
    color: #555;
}

.anchor a {
    color: blue;
    text-decoration: none;
    font-weight: 600;
}

.anchor a:hover {
    text-decoration: underline;
}

#innerbox i {
    font-size: 50px;
    margin-bottom: 15px;


}