

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
}

#container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px; 
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

.filter-box {
    background: white;
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    
    
    display: flex; 
    justify-content: center; 
    align-items: center;    
    gap: 20px;               
    
    margin-bottom: 30px;
    border: 1px solid #eee;
}


.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-group label {
    font-weight: bold;
    font-size: 15px;
    color: #444;
}

.input-group input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}


.view-btn {
    background-color: #7b1fa2; 
    color: white;
    padding: 11px 25px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s ease;
}

.view-btn:hover {
    background-color: #4a148c; 
    transform: translateY(-1px); 
}