* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: #f4f6fb;
    padding: 20px;
}

.profile-container {
    max-width: 1000px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    display: flex;
    gap: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.profile-left {
    flex: 3;
}

.profile-right {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.action-buttons {
    width: 180px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.action-buttons button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.print-btn {
    background: #3498db;
}

.back-btn {
    background: #555;
    color: white;
    margin-bottom: 20px;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    border: none;

}

.delete-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    "

}

.section h3 {
    margin: 15px 0 10px 0;
    color: #333;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 16px;
}

.section p {
    margin: 8px 0;
    color: #555;
}

.section span {
    color: #000;
    font-weight: bold;
}

@media print {

    .action-buttons,
    .back-btn {
        display: none;
    }
}